/* 
	BASE - Base styles, variables, mixins, etc 
*/
/* line 1, ../sass/base/_base.scss */
* {
  font-family: 'Open Sans', sans-serif;
}

/* line 4, ../sass/base/_base.scss */
a {
  text-decoration: none;
  color: black;
}

/*
	MODULES - Individual site components
*/
/* line 1, ../sass/modules/_buttons.scss */
.login-button {
  margin-top: 20px;
  line-height: 18vh;
  background: #4e29c7;
  color: white;
  width: 70%;
  font-size: 7vh;
  text-decoration: none;
  margin: auto;
  text-transform: uppercase;
}

/* line 1, ../sass/modules/_sections.scss */
.site-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100vh;
}
/* line 7, ../sass/modules/_sections.scss */
.site-wrapper > * {
  width: 100%;
}

/* line 11, ../sass/modules/_sections.scss */
.content-wrapper {
  background: #eaeaea;
  padding: 10px 0px;
  text-align: center;
  display: flex;
  order: 2;
  flex: 1 1 auto;
  align-items: center;
}
/* line 19, ../sass/modules/_sections.scss */
.content-wrapper p {
  margin: 0px;
}

/* line 23, ../sass/modules/_sections.scss */
.content {
  margin: 0 auto;
  width: 700px;
  height: 50vh;
  border-radius: 10px;
  -webkit-box-shadow: 0px 7px 15px 0px gray;
  -moz-box-shadow: 0px 7px 15px 0px gray;
  box-shadow: 0px 7px 15px 0px gray;
  background-color: white;
}

/* line 31, ../sass/modules/_sections.scss */
.title {
  margin: 0px;
  line-height: 50px;
  border-bottom: 1px solid #b6b6b6;
  font-weight: 300;
  display: block;
}

/* line 38, ../sass/modules/_sections.scss */
.main {
  height: 15vh;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 44, ../sass/modules/_sections.scss */
.main img {
  margin-right: 5px;
  height: 100%;
}

/* line 49, ../sass/modules/_sections.scss */
.login-wrapper {
  text-align: center;
  padding: 0px 30px;
  height: 50%;
}
/* line 53, ../sass/modules/_sections.scss */
.login-wrapper > * {
  display: block;
}
/* line 56, ../sass/modules/_sections.scss */
.login-wrapper h1 {
  font-size: 3vh;
}

@media only screen and (max-width: 740px) {
  /* line 63, ../sass/modules/_sections.scss */
  .content {
    width: calc(100% - 40px);
  }

  /* line 66, ../sass/modules/_sections.scss */
  .main h3 {
    font-size: 2vh;
  }
}
@media only screen and (max-height: 650px) {
  /* line 71, ../sass/modules/_sections.scss */
  .title {
    font-size: 3vh;
  }

  /* line 74, ../sass/modules/_sections.scss */
  .login-button {
    line-height: 12vh;
    font-size: 5vh;
  }

  /* line 78, ../sass/modules/_sections.scss */
  .image-frame {
    height: 70%;
    width: auto;
  }
}
@media only screen and (max-width: 400px) {
  /* line 84, ../sass/modules/_sections.scss */
  .nav span {
    display: none;
  }
}
/*
	LAYOUTS - Page layout styles
*/
/* line 1, ../sass/layouts/_nav.scss */
.nav {
  -webkit-box-shadow: 0px 7px 15px 0px rgba(128, 128, 128, 0.3);
  -moz-box-shadow: 0px 7px 15px 0px rgba(128, 128, 128, 0.3);
  box-shadow: 0px 7px 15px 0px rgba(128, 128, 128, 0.3);
  width: 100%;
  line-height: 50px;
  max-height: 50px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-bottom: 1px solid #b6b6b6;
}
/* line 12, ../sass/layouts/_nav.scss */
.nav li {
  margin: 0px;
  width: 33.33333%;
  list-style: none;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
/* line 19, ../sass/layouts/_nav.scss */
.nav li:not(:last-child) {
  border-right: 1px solid #b6b6b6;
}
/* line 22, ../sass/layouts/_nav.scss */
.nav li img {
  vertical-align: middle;
  margin-right: 3px;
  position: relative;
  top: -2px;
}

/* line 1, ../sass/layouts/_footer.scss */
footer {
  text-align: center;
  color: #8d8d8d;
  order: 3;
  flex: 0 1 auto;
  background: #eaeaea;
  font-size: 2vh;
}
