.nav {
	@include shadow-box( 0px 7px 15px 0px rgba(128,128,128,0.3) );
	width: 100%;
	line-height: 50px;
	max-height: 50px;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: baseline;
	border-bottom: $border;
	& li {
		margin: 0px;
		width: 1 / 3 * 100%;
		list-style: none;
		text-align: center;
		vertical-align: middle;
		text-transform: uppercase;
		&:not(:last-child) {
			border-right: $border;
		}
		& img {
			vertical-align: middle;
			margin-right: 3px;
			position: relative;
			top: -2px;
		}
	}
}

